# Database - MySQL
DATABASE_URL="mysql://user:password@localhost:3306/alba_finance_v3"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-32-byte-random-secret-here"

# Environment
NODE_ENV="development"

# Application
NEXT_PUBLIC_APP_NAME="ALBA Finance v3"
NEXT_PUBLIC_APP_DESCRIPTION="Aplikasi Keuangan Pondok Pesantren Al-Basyariyah"
NEXT_PUBLIC_COMPANY_NAME="Pondok Pesantren Al-Basyariyah"
NEXT_PUBLIC_COMPANY_ADDRESS="Jl. Mahmud, Rahayu, Kec. Margaasih, Kabupaten Bandung, Jawa Barat 40218"
NEXT_PUBLIC_CURRENCY="IDR"
NEXT_PUBLIC_LOCALE="id-ID"