# Database (MySQL)
DATABASE_URL=mysql://user:password@localhost:3306/alba_finance_v3

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32

# Auth Credentials (demo)
NEXTAUTH_EMAIL=admin@alba.local
NEXTAUTH_PASSWORD=bismillah

# Environment
NODE_ENV=development

# Application (Client-visible)
NEXT_PUBLIC_APP_NAME=ALBA Finance v3
NEXT_PUBLIC_APP_DESCRIPTION=Aplikasi Keuangan Pondok Pesantren Al-Basyariyah
NEXT_PUBLIC_COMPANY_NAME=Pondok Pesantren Al-Basyariyah
NEXT_PUBLIC_COMPANY_ADDRESS=Jl. Mahmud, Rahayu, Kec. Margaasih, Kab. Bandung, Jawa Barat 40218
NEXT_PUBLIC_CURRENCY=IDR
NEXT_PUBLIC_LOCALE=id-ID
